/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-color: #00fddc;
  --red-color: #e20040;
  --black-color: #353535;
  --grey-color: #c0b3ab;
  --white-color: #f4f2f3;

  --font_size_large: 1.25rem;
  --font_size_medium: 1.125rem;
  --font_size_regular: 1rem;
  --font_size_small: 0.875rem;
  --font_size_tiny: 0.75rem;
}

body {
  background-color: var(--white-color);
}
