/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
}

:root {
  --green-color: #00fddc;
  --red-color: #e20040;
  --black-color: #353535;
  --grey-color: #c0b3ab;
  --white-color: #f4f2f3;

  --font_size_large: 1.25rem;
  --font_size_medium: 1.125rem;
  --font_size_regular: 1rem;
  --font_size_small: 0.875rem;
  --font_size_tiny: 0.75rem;
}

@font-face {
  font-family: "Main";
  src: url(../public/fonts/archivoblack-regular-webfont.woff) format("woff");
  src: url(../public/fonts/archivoblack-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Second";
  src: url(../public/fonts/ubuntu-regular-webfont.woff) format("woff");
  src: url(../public/fonts/ubuntu-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Third";
  src: url(../public/fonts/kanit-light-webfont.woff) format("woff");
  src: url(../public/fonts/kanit-light-webfont.woff2) format("woff2");
}

h1 {
  font-family: "Main";
  font-size: var(--font_size_large);
}

h2 {
  font-family: "Main";
  font-size: var(--font_size_medium);
}

h3 {
  font-family: "Second";
  font-size: var(--font_size_medium);
}

p {
  font-family: "Third";
  font-size: var(--font_size_regular);
}

a {
  text-decoration: none;
  font-family: "Third";
  color: var(--white-color);
}

label {
  font-family: "Third";
  font-size: var(--font_size_regular);
}

button {
  font-family: "Third";
  font-size: var(--font_size_regular);
}
