---
import MainLayout from "../layouts/mainLayout.astro";

import Loader from "../components/loader.astro";
import "../styles/style.css";
import CardEvent from "../components/card-event.astro";
---

<MainLayout title="About">
  <main>
    <h1>About</h1>
    <div class="grid-container">
      <img
        class="image"
        src="http://frederikkevolkdal.com/img_video/hs-2.webp"
        alt="headshot"
      />
      <div>
        <p>
          Faustix has over the years marked himself on the international music
          scene with a production-collaboration with Diplo on the smash hit
          ‘Revolution’, which became part of the Bernie Sanders presidential
          campaign.

          <br />
          <br />
          <br />
          In 2016 Faustix remixed the official UEFA EURO song by David Guetta and
          Zara Larsson. Furthermore, he has done remixes/productions for the likes
          of Chris Brown, Icona Pop and Major Lazer and have had several nominations
          and wins at Danish Music Awards, Danish DJ Awards and Danish Club Awards.
          <br />
          <br />
          <br />
          Faustix has achieved more than 300 million streams on Spotify on his own
          singles and remixes including his massive hits “Watching You” with the
          Dutch producer Alvaro, "Crying in The Sun", "Thorns" and “Need You”. Over
          the past year he has additionally started up his EP/album series “OMG It’s
          Lit”, releasing 6 already.
          <br />
          <br />
          <br />
          The series is a tribute to club-music and has received massive support
          from DJs such as Diplo, Alvaro, Blasterjax, Hardwell, Tiesto and Ummet
          Ozcan. Furthermore, he has reached more than 2 mio monthly listeners on
          Spotify on a regular basis and has played some of the biggest festival
          stages in Denmark.
        </p>
        <h1>
          <img
            class="logo-small"
            src="http://frederikkevolkdal.com/iconer_faustix/logo/logo-red.svg"
            alt="logo"
            loading="eager"
          />
        </h1>
      </div>
    </div>

    <img
      class="image-2"
      src="http://frederikkevolkdal.com/img_video/hs-1.webp"
      alt="faustix"
      loading="lazy"
    />
    <a class="container_a" href="#"
      ><img
        class="top"
        src="http://frederikkevolkdal.com/iconer_faustix/icons/some/top-white.svg"
        alt="top"
      /></a
    >
  </main>
</MainLayout>

<style>
  h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 2rem;
    color: var(--red-color);
  }
  .logo-small {
    max-width: 50%;
  }
  p {
    text-align: left;
    font-size: 1rem;
    color: var(--white-color);
    margin-top: -100px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  @media screen and (min-width: 1000px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1rem;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 100px;
    }
    p {
      text-align: left;
      font-size: 1rem;
      color: var(--white-color);
      margin-left: 20%;
    }
  }
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .image-2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    .image-2 {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
    }
  }
</style>
