---
import MainLayout from "../layouts/mainLayout.astro";

import Loader from "../components/loader.astro";
import ContactForm from "../components/contactForm.astro";
import "../styles/style.css";
import CardEvent from "../components/card-event.astro";
---

<MainLayout title="Contact">
  <main>
    <h1>Contact</h1>
    <ContactForm />
  </main>
</MainLayout>

<style>
  h1 {
    color: var(--grey-color);
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
  }
  main {
    background-color: var(--black-color);
    margin: 2%;
  }
</style>
