---
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import Burger from "../components/menu-open.astro";
import Loader from "../components/loader.astro";
import "../style.css";
import CardEvent from "../components/card-event.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../public/favicon_io/favicon.ico"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Faustix.dk</title>
  </head>
  <body>
    <Loader />
    <Menu />
    <img id="headshot" src="../public/hs-1.jpg" alt="headshot" />
    <div class="cardIndex">
      <CardEvent />
      <CardEvent />
      <CardEvent />
      <CardEvent />
    </div>

    <Footer />
  </body>
</html>

<style>
  body {
    background-color: var(--tertiary-color);
  }
  #headshot {
    width: 100%;
    object-fit: cover;
  }

  .cardIndex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 5rem;
    margin-top: 100px;
  }
</style>
