---
import MainLayout from "../layouts/mainLayout.astro";
import Burger from "../components/menu-open.astro";
import Loader from "../components/loader.astro";
import "../styles/style.css";
import CardEvent from "../components/card-event.astro";
import Hero from "../components/hero.astro";

const data = await fetch(
  "https://xlglwtfhfkynbpmxmmgm.supabase.co/rest/v1/events?limit=3",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsZ2x3dGZoZmt5bmJwbXhtbWdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NDk0MzksImV4cCI6MjAzMTQyNTQzOX0.Al0VKZHbmGl0_GNXgjV1wQ-WuOxdn1YGxnCjoeh2nBw",
    },
  }
).then((res) => res.json());
console.log(data);
---

<MainLayout title="Frontpage">
  <main>
    <Hero />
    <div class="cardIndex">
      {
        data.map((show) => {
          return <CardEvent title={show.event} where={show.city} />;
        })
      }
    </div>
  </main>
</MainLayout>

<style>
  body {
    background-color: var(--black-color);
  }
  #headshot {
    width: 100%;
    object-fit: cover;
  }

  .cardIndex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    gap: 5rem;
    margin-top: 100px;
  }
</style>
