---
import MainLayout from "../layouts/mainLayout.astro";
import Burger from "../components/menu-open.astro";
import Loader from "../components/loader.astro";
import "../styles/style.css";
import CardEvent from "../components/card-event.astro";
---

<MainLayout title="Frontpage">
  <main>
    <img id="headshot" src="../public/hs-1.jpg" alt="headshot" />
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/artist/6jPriOYMyUL9kNonBI1CNd?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <div class="cardIndex">
      <CardEvent />
      <CardEvent />
      <CardEvent />
      <CardEvent />
    </div>
  </main>
</MainLayout>

<style>
  body {
    background-color: var(--tertiary-color);
  }
  #headshot {
    width: 100%;
    object-fit: cover;
  }

  .cardIndex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 5rem;
    margin-top: 100px;
  }
</style>
