---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../public/favicon_io/favicon.ico"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Faustix.dk</title>
  </head>
  <body>
    <h1><img src="../public/Faustix_logo.png" alt="Logo" /></h1>
  </body>
</html>

<style>
  img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
