---
import MainLayout from "../layouts/mainLayout.astro";
import Burger from "../components/menu-open.astro";
import Loader from "../components/loader.astro";
import "../styles/style.css";
import CardEvent from "../components/card-event.astro";
---

<MainLayout title="Merch">
  <main></main>
</MainLayout>
