---
import "../styles/style.css";
---

<article>
  <img src="./public/event.jpg" alt="event" />
  <h1>Card Event</h1>
  <p>
    This is a card event component. It is used in the index page. It is also
    used in the events page.
  </p>
</article>

<style>
  article {
    max-width: 300px;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  article:hover {
    transform: scale(1.2);
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
</style>
