---

---

<article>
  <img src="./public/event.jpg" alt="event" />
  <h1>Card Event</h1>
  <p>
    This is a card event component. It is used in the index page. It is also
    used in the events page.
  </p>
</article>

<style>
  article {
    max-width: 300px;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--quinary-color);
    color: var(--teriary-color);
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
</style>
