---
import "../styles/style.css";

const title = Astro.props.title;
const where = Astro.props.where;
const date = Astro.props.date;
const Img = Astro.props.Img;
---

<article>
  <img src={Img} alt="event" />
  <h1>{title}</h1>
  <h2>{date}</h2>
  <p>
    {where}
  </p>
  <button>Tickets</button>
</article>

<style>
  article {
    width: 300px;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    opacity: 0.6;
  }

  article:hover {
    opacity: 1;
  }

  h1 {
    padding: 1rem;
    text-align: center;
  }
  h2 {
    padding: 1rem;
    text-align: center;
    color: var(--black-color);
  }

  p {
    padding: 2rem;
    text-align: center;
    color: var(--black-color);
  }

  button {
    display: block;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
  }

  article:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 1px black;
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
</style>

<script></script>
