---

---

<nav>
  <li class="icon-link">
    <img class="icon" src="../public/instagram.png" alt="instagram" />
    <img class="icon" src="../public/spotify.svg" alt="spotify" />
    <img class="icon" src="../public/search.svg" alt="search" />
  </li>
  <li><img id="logo" src="../public/logo-green.png" alt="logo" /></li>
  <li>
    <img id="burger" src="../public/burger.png" alt="burger" />
  </li>
</nav>

<style>
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
  }

  li {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .icon-link {
    display: flex;
    justify-content: space-evenly;
    float: left;
  }

  a {
    text-decoration: none;
  }

  img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.2);
  }

  #logo {
    max-width: 50%;
  }

  #burger {
    max-width: 10%;
  }

  .icon {
    max-width: 10%;
  }
</style>
