---
import "../styles/style.css";
---

<nav>
  <li class="icon-link">
    <img class="icon" src="../public/instagram.png" alt="instagram" />
    <img class="icon" src="../public/spotify.svg" alt="spotify" />
    <img class="icon" src="../public/search.svg" alt="search" />
  </li>
  <li>
    <a href="/"><img id="logo" src="../public/logo-green.png" alt="logo" /></a>
  </li>
  <li>
    <img id="burger" src="../public/burger.png" alt="burger" />
  </li>
  <div id="dropdown-menu" class="dropdown-menu">
    <a href="/events">Events</a>
    <a href="/merch">Merch</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--black-color);
  }

  li {
    width: 100%;
    text-align: center;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .icon-link {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    font-family: "Main";
    font-size: 2rem;
    color: var(--green-color);
  }

  img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.2);
  }

  #logo {
    max-width: 50%;
  }

  #burger {
    max-width: 8%;
    margin-left: 50%;
  }

  .icon {
    max-width: 10%;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 10%;
    right: 0px;
    background-color: var(--black-color);
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 15%;
      right: 0px;
      background-color: var(--black-color);
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  .dropdown-menu a {
    padding: 50px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: var(--green-color);
  }

  .dropdown-menu a:hover {
    background-color: var(--green-color);
    color: var(--black-color);
    transform: scale(1.2);
  }

  .menu-open .dropdown-menu {
    display: block;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var burgerIcon = document.getElementById("burger");
    var menu = document.querySelector("nav");
    var dropdownMenu = document.getElementById("dropdown-menu");

    burgerIcon.addEventListener("click", function () {
      menu.classList.toggle("menu-open");
    });
  });
</script>
