---
import "../styles/style.css";
---

<astro-fragment>
  <div class="menu">
    <li><a href="events.astro">Events</a></li>
    <li><a href="merch.astro">Merch</a></li>
    <li><a href="about.astro">About</a></li>
  </div>
</astro-fragment>

<style>
  .menu {
    position: relative; /* Set position to relative */
    background-image: url(../public/candy-black-empty.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }

  ul {
    list-style-type: none;
    display: none; /* Initially hide the menu */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    font-size: 2rem;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }

  li {
    text-align: center; /* Center align the text */
  }

  a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

  /* Style the burger menu icon */
  .burger-menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other content */
  }

  /* Hide checkbox */
  .burger-menu-toggle {
    display: none;
  }

  /* When the checkbox is checked, show the menu */
  .burger-menu-toggle:checked + ul {
    display: flex;
  }
</style>
