---

---

<nav>
  <li>
    <img id="search" src="../public/search.svg" alt="search" />
    <img id="logo" src="../public/logo-green.png" alt="logo" />
    <img id="burger" src="../public/burger.png" alt="burger" />
  </li>
</nav>

<style>
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
  }

  nav li {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
  }

  #logo {
    max-width: 20%;
  }

  #burger {
    max-width: 2%;
  }

  #search {
    max-width: 2%;
  }
</style>
