---

---

<div>
  <li>
    <a href="events.astro">Events</a>
    <a href="merch.astro">Merch</a>
    <a href="about.astro">About</a>
  </li>
</div>

<style>
  div {
    background-image: url(../public/candy-black-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
  }
</style>
