---
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import Burger from "../components/menu-open.astro";
import Loader from "../components/loader.astro";
import "../styles/style.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../public/favicon_io/favicon.ico"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Faustix.dk - {title}</title>
    <meta
      name="description"
      content="hompage for dj and producer faustix. containing events, merch, about and contact. this page is created for both fans and corporate business opportunities."
    />
    <meta
      name="author"
      content="Mads Emil Heitmann, Sofia Østerlund Ellevang, Frederikke Nielsen Volkdal"
    />
    <meta name="copyright" content="Faustix" />
    <meta name="robots" content="noindex, nofollow" />
  </head>

  <body>
    <Loader />
    <Menu />
    <main>
      <div id="searchModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <input type="text" placeholder="Search..." />
          <button>Search</button>
        </div>
      </div>
      <slot />
    </main>
    <Footer />
    <script></script>
  </body>
</html>
