---
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";

import Loader from "../components/loader.astro";
import "../styles/style.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="http://frederikkevolkdal.com/iconer_faustix/favicon_io/favicon.ico"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Faustix.dk - {title}</title>
    <meta
      name="description"
      content="hompage for dj and producer faustix. containing events, merch, about and contact. this page is created for both fans and corporate business opportunities."
    />
    <meta
      name="author"
      content="Mads Emil Heitmann, Sofia Østerlund Ellevang, Frederikke Nielsen Volkdal"
    />
    <meta name="copyright" content="Faustix" />
    <meta name="robots" content="noindex, nofollow" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Loader />
    <Menu />
    <main>
      <div id="searchModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <input type="text" placeholder="Search..." />
          <button>Search</button>
        </div>
      </div>
      <slot />
    </main>
    <Footer />
    <script></script>
  </body>
</html>
